<!doctype html>
<!--
Version : 0.0.1
Author : Soumik Ranjan Dasgupta
Version created : Oct 31, 2018 
 -->
<head>
	<title>BROCR :: Upload new file</title>
		<style type="text/css">

		body {
			background-color: black;
			color: white;
		}
		.main {
			margin-left: 40%;
		}

		.desc {
			margin-left: 70%;
			margin-top: 2%;
			padding-right: 10px;
			position: absolute;
			
		}

		a {
			color: white;
		}
		a:active a:hover a:visited{
			color: grey;
		}
	</style>
</head>
<body>
	<div class="head" style="margin-top: 0%;">
		<div class="desc"><h1>Welcome to BROCR, the browser based OCR app!</h1>
		<p >BROCR uses <a href="https://github.com/tesseract-ocr/tesseract/wiki" target="_blank">Tesseract</a>, Google's open source OCR tool. Apart from that, you also need <b><a href="https://pypi.org/project/pytesseract/" target="_blank">pytesseract</a></b>, a Python client to integrate Tesseract with Python. Other
		prerequisites include Pillow for image processing.
		Select the file you want to perform OCR in, select the language and hit upload.
		You will be redirected to another window containing the OCR text. Do keep in mind
		it might take some time to perform the OCR depending on the amount of text in the image.</p></div>
	</div>
		<img src="{{url_for('static',filename='logo-large.png')}}" style="margin-left: 0%;">
		
	<div class="main">
		
	    <h1>Upload new File</h1>
	    <form method=post enctype=multipart/form-data>
	      <input type=file name=file>
	      <br>
	      <select name="lang"> 
			  <option value="eng">English</option>
			  <option value="ben">Bengali</option>
		</select> Choose text language
		<br>
	      <input type=submit value=Upload>
	    </form>
	</div>
</body>